.box{
    display: flex;
    /* padding-left: 200px; */
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 20%;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    align-items: center;
    
}
.con{
    display: flex;
    padding: 20px;

}
.content h1{
    font-size: 23px;
    
}
.content p{
    font-size: 20px;
}
