.searchbar{
    /* background-color:whitesmoke; */
    padding: 20px 120px;
    justify-content: space-between;
}

select{
    background-color: transparent;
}

.searchCont{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(165, 163, 163);
}

.logo{
    height: fit-content;
}

/* .plain{
    background-color: #ffffff;
    color: #570AF1;
    border: 1px solid #570AF1;
} */
/*  */
.plain:hover{
    color: #ffffff;
    background-color: #570AF1;
    border: 1px solid #ffffff;
    cursor: pointer;
}



.color:hover{
    background-color: #ffffff;
    color: #570AF1;
    border: 1px solid #570AF1;
    cursor: pointer;
}

#search{
    width: 230px;
    background-color: transparent;
    outline: none;
    border: none;
}

.divider{
    border-right: 1px solid grey;
    width: 1px;
    margin-left: 20px;
}

.search{
    height: 30px;
    margin-left: -70px;
    margin-right: -70px;
    color: #570AF1;
}
.color{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #570AF1;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;

}

  /* .color:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .color:hover:before {
    transform: translateY(3px);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
  } */
  .plain{
    padding: 10px 20px;
    border: none;
    border: 1px solid #570AF1;
    border-radius: 8px;
    /* background-color: #570AF1; */
    color: #570AF1;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;

  }